body{
  background-image: url('assets/laptop\ img.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-side{
   flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  gap: 20px;
}


img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.r-side{
  flex: 80%;
  display: flex;
  justify-content: space-evenly;
}


.btn{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: blueviolet;
    
}

.btn:hover{
  color: wheat;
  background-color: brown;
}




h1{
  font-size: 40px;
  color: wheat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.texts{
  font-size: 40px;
  color: wheat;
  text-indent: 1px;
  margin-left: 50px;
  
}

.text-0{
  padding-left: 90px;
}


.text-2{
 padding-left: 180px;
}

.text-3{
   padding-left: 70px;
}

.text-4{
  margin-left: 50px;
}



