body{
  background-image: url('assets/laptop\ img.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-side{
   flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  gap: 20px;
}

.name{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: wheat;
  padding-bottom: 15px;
}

.r-side{
  flex: 80%;
  display: flex;
  justify-content: space-evenly;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: blueviolet;
    
}

.btn:hover{
  color: wheat;
  background-color: brown;
}



img{
    width: 700px;
    height: 750px;
    margin-left: 100px;
}

h2{
    color: wheat;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.user-crd{
    background-color: brown;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

p{
    color: wheat;
    font-size: 30px;
}

p1{
    color: wheat;
    font-size: 20px;
}

.container-crd{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 100px;
}

.btn-3{
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: wheat;
    font-size: 30px;
    background-color: orange;
    margin-bottom: 50px;
}

.plan-crd{
    background-color: brown;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}